<style>
  /* Fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
  }

  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
  }

  .name {
    font-weight: 200;
  }

  :root {
    all: initial;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
    --font-family-list: Menlo, Consolas, Monaco, "Lucida Console", monospace;

  }

  .root {
    all: initial;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }

  .detail {
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
    font-weight: bold;
  }

  .error {
    margin-left: 20px;
  }

  .editor-container {
    flex: 1;
    overflow: hidden;
  }

  .issue-container {
    flex: 0.33;
    overflow: hidden;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px;
    overflow-y: auto;
    display: none;
    background-color: lightcyan;
  }

  .validate-success {
    color: black;
    text-align: center;
    display: none;
  }

  .validate-container {
    font-size: 25px;
    margin-top: 10px;
  }

  .validate-progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
  }

  .validate-progress .validate-label {
    align-self: center;
    margin-left: 10px;
  }

  .validate-progress fluent-progress-ring {
    align-self: center;
  }

  .code-editor::part(main) {
    height: 100%;
  }

  .issue-display::part(main) {
    height: 100%;
  }

  h2.name {
    display: none;
  }
</style>
<div class="root" part="main">
  <h2 class="name" part="name-header"></h2>
  <div class="editor-container" part="editor-container">
    <code-editor hide-issues class="code-editor"></code-editor>
  </div>
  <div class="issue-container">
    <code-issue-display class="issue-display"></code-issue-display>
  </div>
  <div class="validate-container">
    <div class="validate-progress" name="progress" style="display: none;">
      <fluent-progress-ring></fluent-progress-ring>
      <span class="validate-label">...Validating</span>
    </div>
    <div class="validate-success" style="display: none;">
      <slot name="success">
        👍Looks Good!
      </slot>
    </div>
  </div>
  <!-- <div class="solution-editor-container" part="solution-editor-container">
    <code-editor hide-issues class="solution-code-editor"></code-editor>
  </div> -->
</div>