<style>
  :root {
    margin: 10px;
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  .root {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px 0px 0px 0px;
  }
  .predictions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intstructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<div class="root" part="element-root">
  <h1 class="title">
    Tensorflow.js ASL Sign Detector
  </h1>
  <div class="intstructions-container">
<!--     <setup-instructions style="display:none" class="setup-instructions"></setup-instructions> -->
  </div>
  <div class="predictions-container">
    <predictions-component style="display:none" class="predictions"></predictions-component>
  </div>
</div>