<style>
  .root {
    position: relative;
	display: grid;
	grid-auto-rows: max-content;
  }

  .image-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	overflow: hidden;
  }

  .image-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
  }

  .sign-name {
	position: absolute;
	left: 5%;
	bottom: 5%;
	font-weight: bold;
  }
</style>
<div class="root" part="main">
  <div class="image-container">
    <img class="sign-image" part="image" />
  </div>
  <div class="sign-name" part="name"></div>
</div>
