<style>
	.issue-type {
		display: inline-block;
		font-weight: bold;
		vertical-align: top;
	}
	.issue.error .issue-type {
		color: red;
	}
	.issue.warning .issue-type {
		color: yellow;
	}
	.issue.validation .issue-type {
		color: rgb(17, 88, 219);
	}
	.issue.info .issue-type {
		color: rgb(17, 88, 219);
	}
	.issue.hint .issue-type {
		color: grey;
	}
	.issue-type::after {
		content: ':';
	}
	.detail {
		display: inline-block;
	}
</style>
<div class="root" part="main" role="status" aria-live="polite">
</div>
