<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ settings.metaDescription }}" />
<meta name="og:description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta property="og:title" content="{{ settings.metaTitle}}" />
<meta name="twitter:card" content="summary" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />

<meta name="theme-color" content="#9480FF" />

<link rel="manifest" href="/manifest.json">
<script>

  // if ('serviceWorker' in navigator) {
  //   navigator.serviceWorker.register('sw.js')
  //     .then(reg => console.log('Service Worker registered', reg))
  //     .catch(err => console.error('Service Worker **not** registered', err));
  // }

</script>
<div class="nav-links">
  <a href="{{baseUrl}}" id="home" class>🏠 Home</a>
  <a href="{{baseUrl}}train" id="build">🔨 Build</a>
  <a href="{{baseUrl}}predict" id="predict">✨ Predict</a>

</div>