<div class="training-container">
  {{#if settings.trainTutorialSteps}}
  <fluent-breadcrumb>
    {{#each settings.trainTutorialSteps}}
    <fluent-breadcrumb-item id="tutorial-step{{this.step}}">
      <!-- <a href="#step{{this.step}}">{{this.description}}</a> -->
      {{this.description}}
    </fluent-breadcrumb-item>
    {{/each}}
  </fluent-breadcrumb>
  {{/if}}
  <div class="next-button-container">
    <fluent-button class="train-button" appearance="accent">
      Next
    </fluent-button>
    <div class="training-controls">
      <fluent-button class="training-start-button">Start training</fluent-button>

      <fluent-button class="training-stop-button">Stop training</fluent-button>
    </div>
    <div class="download-controls">
      <fluent-button class="download-button">Download</fluent-button>

    </div>

  </div>
  <div class="output-container">
    <p id="output-element"></p>
    <div class="loading-element">
      <fluent-progress-ring></fluent-progress-ring>
    </div>
  </div>
  <p id="validation-status"></p>
  <div class="training-feedback-container">
  </div>

  {{#if settings.trainTutorialSteps}}
  <fluent-button class="toggle-code-button" style="display: none;">Toggle Code</fluent-button>
  {{#each settings.trainTutorialSteps}}
  <div class="editor-container">
    <code-step name="{{this.name}}" step="{{this.step}}" code="function step{{this.step}}() {}" style="display: none;"
      read-only="{{this.readOnly}}"></code-step>
  </div>
  {{/each}}
  {{/if}}

  <div class="load-data-description">
    <h3 class="description-header">Basic Process</h3>
    <ol>
      <li>Use the Mediapipe model to extract the set of joint positions each of the image in the dataset.</li>
      <li>Flatten the joint positions into an array of values with the format:
        <code>[joint1_x, joint1_y, joint1_z, ..., jointN_x, jointN_y, jointN_z]</code>
      </li>
      <li>Normalize the flattened joint positions so that thier values are scaled from -1 to 1.</li>
      <li>Shuffle the data.</li>
      <li>Use one-hot encoding to transform letter labels (i.e 'A', 'B', 'C' ) to a machine-friendly data format.</li>
      <li>Split data into a training set and validation set.</li>
    </ol>
  </div>

  <div class="bottom-button-container">
    <fluent-button class="view-solution-button" style="display: none;">View solution</fluent-button>
    <fluent-button class="reset-button" style="display: none;">Reset</fluent-button>
  </div>

  {{#if settings.trainTutorialSteps}}
  {{#each settings.trainTutorialSteps}}
  <code-step name="{{this.name}}-solution" step="{{this.step}}1" code="function step{{this.step}}1() {}"
    style="display: none;" read-only="true"></code-step>
  {{/each}}
  {{/if}}


  <!-- {{#if settings.showDataVideo}}
  <fluent-card class="image-card">
    <div class="video-wrapper__16-9">
      <p>Image data</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/H1HGW5JpBmg" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen></iframe>
    </div>
  </fluent-card>
  {{/if}} -->
</div>