<div class="training-container">
  {{#if settings.trainTutorialSteps}}
  <fluent-breadcrumb>
    {{#each settings.trainTutorialSteps}}
    <fluent-breadcrumb-item id="tutorial-step{{this.step}}">
      {{this.description}}</fluent-breadcrumb-item>
    {{/each}}
  </fluent-breadcrumb>
  {{/if}}
  <p class="solution-feedback"></p>
  <div class="training-feedback-container">
    <fluent-card class="custom-card">
      <p class="training-feedback"></p>
      <div class="progress-bar-container">
        <fluent-progress class="training-progress-bar"></fluent-progress>
        <p class="time-remaining"></p>
      </div>
    </fluent-card>
  </div>
  <div>
    <!-- <fluent-button class="load-data-button" appearance="accent" step="1">Load data</fluent-button> -->
    <fluent-button class="train-button" appearance="accent">
      Next
    </fluent-button>
  </div>
  <div class="output-container">
    <p id="output-element"></p>
    <div class="loading-element">
      <fluent-progress-ring></fluent-progress-ring>
    </div>
  </div>
  <p id="validation-status"></p>

  <code-step name="loadData" step="1" code="function step1() {}" style="display: none;" read-only="true"></code-step>
  <code-step name="setTensorFlowBackend" step="2" code="function step2() {}" style="display: none;"></code-step>
  <code-step name="encodeAndSplitData" step="3" code="function step3() {}" style="display: none;">
  </code-step>
  <code-step name="createModel" step="4" code="function step4() {}" style="display: none;"></code-step>
  <code-step name="configureModel" step="5" code="function step5() {}" style="display: none;"></code-step>
  <code-step name="trainModel" step="6" code="function step6() {}" style="display: none;"> </code-step>
  <code-step name="exportModel" step="7" code="function step7() {}" style="display: none;"> </code-step>
  <div class="bottom-button-container">
    <fluent-button class="view-solution-button">View solution</fluent-button>
    <fluent-button class="reset-button">Reset</fluent-button>
  </div>
  <!-- {{#if settings.showDataVideo}}
  <fluent-card class="image-card">
    <div class="video-wrapper__16-9">
      <p>Image data</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/H1HGW5JpBmg" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen></iframe>
    </div>
  </fluent-card>
  {{/if}} -->
</div>