<div class="training-container">
  {{#if settings.trainTutorialSteps}}
    {{> breadcrumbs breadcrumbs=settings.trainTutorialSteps}}
  {{/if}}
  <div class="next-button-container">
    <fluent-button class="train-button" appearance="accent">
      Next
    </fluent-button>
    <div class="training-controls">
      <fluent-button class="training-start-button">Start training</fluent-button>

      <fluent-button class="training-stop-button">Stop training</fluent-button>
    </div>
    <div class="download-controls">
      <fluent-button class="download-button">Download</fluent-button>

    </div>

  </div>

  <p id="validation-status" role="status" aria-live="polite"></p>
  <div class="training-feedback-container">
  </div>

  <div class="bottom-button-container">
    <fluent-button class="solve-button" style="display: none;" appearance="accent">Solve</fluent-button>

    <fluent-button class="reset-button" style="display: none;">Reset</fluent-button>
  </div>


  <fluent-tabs activeid="code-tab" class="fluent-tab-container">
    <fluent-tab id="code-tab">Code</fluent-tab>
    <fluent-tab id="solution-tab">Solution</fluent-tab>
    <fluent-tab id="instructions-tab">Instructions</fluent-tab>
    <fluent-tab-panel id="codePanel">
      {{#if settings.trainTutorialSteps}}

      {{#each settings.trainTutorialSteps}}
      <code-step name="{{this.name}}" step="{{this.step}}" code="function step{{this.step}}() {}" style="display: none;"
        allow-background-execution>
        <!-- hide success, we have our own -->
        <div slot="success"></div>
      </code-step>
      {{/each}}
      {{/if}}

    </fluent-tab-panel>
    <fluent-tab-panel id="solutionPanel">
      {{#if settings.trainTutorialSteps}}
      {{#each settings.trainTutorialSteps}}
      <code-step name="{{this.name}}-solution" step="{{this.step}}1" code="function step{{this.step}}1() {}"
        style="display: none;" read-only="true">
        <!-- hide success, we have our own -->
        <div slot="success"></div>
      </code-step>
      {{/each}}
      {{/if}}

    </fluent-tab-panel>
    <fluent-tab-panel id="instructionPanel">

      {{#if settings.trainTutorialSteps}}
      {{#each settings.trainTutorialSteps}}

      <div class="instructions-image" id="{{this.name}}-image" style="display: none">
<!-- This alignment is because of some pre-formatted text contained within-->
{{#ifEquals this.name "loadData"}}
{{> loadDataInstructions baseUrl }}
{{/ifEquals}}
{{#ifEquals this.name "createModel"}}
{{> createModelInstructions baseUrl  }}
{{/ifEquals}}
{{#ifEquals this.name "trainModel"}}
{{> trainModelInstructions baseUrl }}
{{/ifEquals}}
{{#ifEquals this.name "exportModel"}}
{{> exportModelInstructions baseUrl }}
{{/ifEquals}}
      </div>
      {{/each}}
      {{/if}}

    </fluent-tab-panel>
  </fluent-tabs>







  <!-- {{#if settings.showDataVideo}}
  <fluent-card class="image-card">
    <div class="video-wrapper__16-9">
      <p>Image data</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/H1HGW5JpBmg" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen></iframe>
    </div>
  </fluent-card>
  {{/if}} -->
</div>